*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
  scroll-behavior: smooth;
}

/* Tags styles */

h1{
  font-family: DM Sans;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -2px;
  text-align: left;
  color: #19191B;
}

h2{
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2px;
  text-align: left;
  margin: 16px 0px;
}

h3{
  font-family: DM Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -2px;
  text-align: left;
}


h4{
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  margin: 16px 0px;
}

h5{
  color: #494949;
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 32px;
  padding: 16px 0px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p{
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #19191B;
  margin: 16px 0px;
}

li{
  line-height: 28px;
}

.cta-button{
  display: inline-block;
  padding: 20px 40px;
  background: #EDB732;
  border-radius: 4px;
  margin: 16px 0px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  color: #3b3b3b;
  transition: 0.5s;
}

.cta-button:hover{
  background: #19191b;
  color: #FFFFFF;
}

/* Grid */

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    gap: 40px;
    /* overflow: hidden; */
    align-items: center;
    margin-top: 80px;
    margin-bottom: 120px;
}

/* Cookie banner */
@media screen and (min-width: 501px){
  .cookiebanner{
    display: none;
    flex-direction: row;
    background-color: #FCEEDF;
    padding: 24px;
    width: 640px;
    line-height: 150%;
    border-radius: 8px;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 100;
    box-shadow: 0px 2px 8px 2px rgba(187, 187, 187, 0.2);
  }

  .cookiebanner.active{
    display: flex;
  }

  .cookiebanner__image{
    width: 40px;
  }

  .cookiebanner__description{
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 16px;
  }

  .cookiebanner__link{
    color: currentcolor;
    text-decoration: underline;
  }

  .cookiebanner__button{
    border: none;
    color: white;
    padding: 8px 16px;
    background: #19191B;
    border-radius: 4px;
    margin: 16px 0px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    transition: 0.5s;
    cursor: pointer;
  }
}

.cookiebanner__button:hover{
  background: #EDB732;
  color: #19191B;
}

/* .cookiebanner__background{
  display: none;
  background: rgba(0,0,0,.40);
  position: fixed;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
} */

.cookiebanner__background.active{
  display: block;
}

@media screen and (max-width: 640px){

  .cookiebanner{
    display: none;
    flex-direction: column;
    background-color: #FCEEDF;
    padding: 24px;
    max-width: 100%;
    line-height: 150%;
    border-radius: 8px;
    position: fixed;
    bottom: 16px;
    left: 16px;
    margin-right: 16px;
    z-index: 100;
    padding-top: 64px;
    box-shadow: 0px 2px 8px 2px rgba(187, 187, 187, 0.2);
  }

  .cookiebanner.active{
    display: flex;
  }

  .cookiebanner__image{
    max-width: 96px;
    position: absolute;
    top: -48px;
    left: calc(50% - 48px);
  }

  .cookiebanner__description{
    margin-top: 0px;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  .cookiebanner__button{
    border: #19191B;
    color: white;
    padding: 16px;
    background: #19191B;
    border-radius: 4px;
    margin: 16px 0px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    transition: 0.5s;
    cursor: pointer;
  }
}


/* Hero */
.hero__container--copy{
    grid-column: 1/7;
}

.hero__copy{
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #19191B;
  margin: 16px 0px;
}

.hero__image{
    width: 100%;
    height: auto;
    grid-column: 7/13;
}

.hero__logos{
    width: 100%;
    max-width: 580px;
}

/* Article */

.article__title{
  grid-column: 1/13;
}

.article__copy{
  margin: 16px 0px;
}

.article__item--1{
  grid-column: 1/4;
}
.article__item--2{
  grid-column: 4/7;
}
.article__item--3{
  grid-column: 7/10;
}
.article__item--4{
  grid-column: 10/13;
}

.article__item--copy{
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
}  

/* Pricing */

.pricing__grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 90%;
  max-width: 1200px;
  margin: auto;
  gap: 0px;
  margin-bottom: 80px;
  align-items: stretch;
}

.pricing__item{
  background-color: #FFFFFF;
  border: 1px solid #DED8EB;
  padding: 40px;
}

.pricing__title{
  grid-column: 1/13;
  text-align: center;
  margin-bottom: 40px;
  line-height: 56px;
}

.pricing__item--1{
  grid-column: 1/5;
}
.pricing__item--2{
  grid-column: 5/9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing__item--3{
  grid-column: 9/13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing__item--description{
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.pricing__item--services{
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.pricing__item--specification{
  font-family: Mulish;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  list-style:none;
  margin: 80px 0px 16px;
}

.pricing__item--button{
  display: block;
  text-align: center;
}

.pricing__item--button-outline{
  background-color: #FFFFFF;
  border: 2px solid #3B3B3B;
  color: #3B3B3B;
  display: block;
  text-align: center;
  padding: 18px 36px;
}

/* Banner */

.banner{
  margin-top: 40px;
  text-align: center;
  background-color: #FCEEDF;
  padding: 40px 0px 24px;
}

.banner__copy{
  text-align: center;
  margin: 16px 0px;
}

.button__outline{
  background: none;
  border-radius: 4px;
  margin: 16px 0px 32px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  border: 2px solid #3B3B3B;
  color: #3B3B3B;
}

.banner__rights{
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

/* Breakpoints */

@media screen and (max-width: 1040px){
  .grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
  }
  .image{
    width: 100%;
  }
  .pricing__grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 500px){
  .grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }
  .image{
    width: 100%;
  }
  .pricing__grid{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .pricing__item{
    padding: 32px
  }
}

